#requirements.txt
streamlit==1.50.0  # Already installed
pandas==2.3.3      # Already installed
numpy==2.3.4       # Already installed
altair==5.5.0      # Already installed
scikit-learn       # 
plotly==5.17.0     # Already installed
matplotlib
seaborn
